* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}



nav .divider {
  border-bottom: 0.5px solid #ffffff;
}

.header {
  background: linear-gradient(
      200.44deg,
      rgba(0, 0, 0, 0.0001) 16.41%,
      rgba(0, 0, 0, 0.51) 77.16%
    ),
    url("/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 1em 0 5em 0;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 120px;

  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
}

li:hover {
  border-bottom: 2.32px solid #ffffff;
}

.header h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
}

.header-inputs {
  background-color: #ffffff;
  margin-top: 1.3em;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.search-icon-container {
  background: #23a6f0;
  height: 39px;
  padding: 8px;
  border-radius: 0px 5px 5px 0px;
}

.Dropdown-control {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 0;
}

.Dropdown-control,
.is-selected {
  color: #252b42;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.type .Dropdown-control {
  border-radius: 5px 0px 0px 5px;
}

.benefits {
  font-family: "Inter", sans-serif;
  padding-top: 3em;
}

.benefits p,
.properties p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.9rem;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

hr {
  border: none;
  border-bottom: 3px solid #f4511e;
  width: 50%;
  margin: 0;
  margin-bottom: 2em;
}

.benefits figcaption {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2em;
  margin-top: 5px;
}

.benefitsImg {
  max-width: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.properties {
  background: #f5f5f5;
  padding: 2em 0;
}

.properties button {
  padding: 15px 20px;
  border-radius: 5px;
  background: #f4511e;
  border: none;
  box-shadow: 0px 1.85px 3.15px 0px #f85a4704;
  box-shadow: 0px 8.15px 6.52px 0px #f85a4707;
  box-shadow: 0px 20px 13px 0px #f85a4709;
  color: #ffffff;
}
